<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더(반드시 첫 번째 줄에 위치) -->

<!-- dtd선언 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper -->
<mapper namespace="artist">
    <!-- 대표페이지 시퀀스 생성 -->
    <select id="sequence" resultType="Integer">
        select artist_seq.nextval from dual
    </select>
    <!-- 대표페이지 생성 -->
    <insert id="insertArtist">
        insert into artist (artist_no, artist_name, artist_eng_name, artist_eng_name_lower) values (#{artistNo}, #{artistName}, #{artistEngName}, #{artistEngNameLower})
    </insert>
    <!-- 대표페이지 정보 조회(대표페이지 영어이름) -->
    <select id="selectArtistViewByEngName" resultType="ArtistViewDto">
        select * from artist_view where artist_eng_name_lower = #{artistEngNameLower}
    </select>

    <!-- (search)대표페이지 정보 조회 -->
    <select id="selectArtistViewSearchList" resultType="ArtistViewDto">
        select * from artist_view where 
            instr(artist_eng_name_lower, #{q}) > 0
            or
            instr(artist_name , #{q}) > 0
    </select>

    <!-- 대표페이지 프로필 생성 -->
    <insert id="insertArtistProfile">
        insert into artist_profile (artist_no, attachment_no) values (#{artistNo}, #{attachmentNo})
    </insert>
    <!-- 대표페이지 프로필 조회 -->
    <select id="selectOneArtistProfile" resultType="ArtistProfileDto">
        select * from artist_profile where artist_no = #{artistNo}
    </select>
    <!-- 대표페이지 프로필 수정 -->
    <update id="updateArtistProfile">
        update artist_profile set attachment_no = #{attachmentNo} where artist_no = #{artistNo}
    </update>
    <!-- 대표페이지 프로필 삭제 -->
    <delete id="deleteArtistProfile">
        delete from artist_profile where artist_no = #{artistNo}
    </delete>
</mapper>