<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatJoin">

	<!-- 채팅방 입장 -->
	<insert id="joinChatRoom">
		insert into chat_join(chat_room_no, member_id, chat_join_time)
		values(#{chatRoomNo}, #{memberId}, sysdate)
	</insert>
	
	<!-- 특정 회원이 참여중인 채팅방 조회 -->
	<select id="findChatRoomById" resultType="ChatJoinDto">
		select * from chat_join where member_id = #{memberId}
	</select>
	
	<!-- 특정 회원이 참여중인 채팅방에서 채팅방 번호만 조회 -->
	<select id="findChatRoomNoById" resultType="int">
		select chat_room_no from chat_join where member_id = #{memberId}
	</select>
	
	<!-- 이미 참여중인 채팅방인지 확인 -->
	<select id="doseAlreadyIn" resultType="ChatJoinDto">
		select * from chat_join
		where member_id = #{memberId} and chat_room_no = #{chatRoomNo}
	</select>
	
	<!-- 채팅방에 참여중인 회원 조회 -->
	<select id="findMembersByRoomNo" resultType="ChatJoinDto">
		select * from chat_join where chat_room_no = #{chatRoomNo}
	</select>
	
	<!-- 특정 회원이 특정 채팅방에 언제 들어갔는지 조회 -->
	<select id="findJoinTime" resultType="java.util.Date">
		select chat_join_time from chat_join 
		where chat_room_no = #{chatRoomNo} and member_id = #{memberId}
	</select>

</mapper>
    