<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatRead">

	<!-- 메세지가 전송되면 일단 저장 (읽은 시간은 null) -->
	<insert id="saveMessage">
		insert into chat_read(
				chat_room_no, chat_message_no, chat_sender, 
				chat_reciever, chat_read_time
			)
		values(
				#{chatRoomNo}, #{chatMessageNo}, #{chatSender}, 
				#{chatReciever}, null
			)
	</insert>
	
	<!-- 읽음 처리를 위한 처리 -->
	<!-- 해당 메세지 수신자 찾기(필요 없을지도) -->
	<select id="findRecieverByMessage" resultType="ChatReadDto">
		select * from chat_read 
		where chat_message_no = #{chat_message_no}
		and chat_reciever = #{chatReciever}
	</select>
	<!-- 읽은 시간 업데이트 -->
	<update id="updateReadTime">
		update chat_read set chat_read_time = sysdate
		where chat_message_no = #{chat_message_no} 
		and chat_reciever = #{chatReciever}
	</update>

</mapper>
    