<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatLike">
	
	<!-- 좋아요 -->
	<insert id="likeMessage">
		insert into chat_like(chat_message_no, member_id)
		values(#{chatMessageNo}, #{memberId})
	</insert>
	
	<!-- 좋아요 취소 -->
	<delete id="cancelLikeMessage">
		delete chat_like 
		where member_id = #{memberId} 
		and chat_message_no = #{chatMessageNo}
	</delete>
	
	<!-- 좋아요 눌렀는지 확인 -->
	<select id="checkLike" resultType="int">
		select count(*) from chat_like 
		where member_id = #{memberId}
		and chat_message_no = #{chatMessageNo}
	</select>
	
	<!-- 특정 채팅의 좋아요 개수 -->
	<select id="likeCount" resultType="int">
		select count(*) from chat_like 
		where chat_message_no = #{chatMessageNo}
	</select>

</mapper>
    