<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="privateChatRoom">
	
	<!-- 1대1 채팅방 생성 -->
	<insert id="createPrivateRoom">
		insert into chat_room_private(
			chat_room_private_no, chat_room_private_i, chat_room_private_you	
		)
		values(
			chat_room_private_seq.nextval, #{chatRoomPrivateI}, #{chatRoomPrivateYou}
		)
	</insert>
	
	<select id="findPrivateChat" resultType="ChatRoomPrivateDto">
		select * from chat_room_private where chat_room_private_no = #{chatRoomPrivateNo}
	</select>
	
	<select id="listPrivateRoom" resultType="ChatRoomPrivateDto">
		select * from chat_room_private
	</select>
	
</mapper>
    