<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatNoti">

	<!-- 알림 저장 -->
	<insert id="save">
		insert into chat_noti(noti_no, member_id, chat_room_no)
		values(#{notiNo}, #{memberId}, #{chatRoomNo})
	</insert>
	
	<!-- 아이디에 해당하는 알림 찾기 -->
	<select id="myNoti" resultType="int">
		select count(*) from chat_noti where member_id = #{memberId}
	</select>
	
	<!-- 방이름, 아이디에 해당하는 알림 번호 찾기 -->
	<select id="notiList" resultType="int">
		select noti_no from chat_noti 
		where member_id = #{memberId} and chat_room_no in 
		<foreach collection="chatRoomNoList" item="chatRoomNo" open="(" close=")" separator=",">
			#{chatRoomNo}
		</foreach>
	</select>

</mapper>
    