<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="chatRoom">

	<!-- 시퀀스 생성 -->
	<select id="sequence" resultType="int">
		select chat_room_seq.nextval from dual
	</select>

	<!-- 채팅방 생성 -->
	<insert id="createRoom">
		insert into chat_room(chat_room_no, chat_room_name, chat_room_start, chat_room_type)
		values(#{chatRoomNo}, #{chatRoomName}, sysdate, #{chatRoomType})
	</insert>
	
	<!-- 채팅방 상세조회 -->
	<select id="findRoom" resultType="ChatRoomDto">
		select * from chat_room where chat_room_no = #{chatRoomNo}	
	</select>
	
	<!-- 채팅방 번호 리스트로 채팅방 조회 -->
	<select id="findRooms" resultType="ChatRoomDto">
		select * from chat_room where chat_room_no in
		<foreach collection="list" item="chatRoomNo" open="(" close=")" separator=",">
			${chatRoomNo}
		</foreach>
	</select>
	
	<!-- 채팅방 삭제 -->
	<delete id="deleteRoom">
		delete chat_room where chat_room_no = #{chatRoomNo}
	</delete>
	
	<!-- 채팅방 이름 변경 -->
	<update id="changeName">
		update chat_room set chat_room_name = #{chatRoomName}
		where chat_room_no = #{chatRoomNo}
	</update>
	
</mapper>
    