<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd선언 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freePost">

	<insert id="insert">
		insert into free_post
		(post_no, member_id)
		values
		(#{postNo},#{memberId})
	</insert>
	
	<select id="selectOne" resultType="freePostDto">
		select * from free_post where post_no = #{postNo}
	</select>
	
	<delete id="delete">
		delete from free_post
		where post_no = #{postNo}
	</delete>

</mapper>