<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="fundpostinte">

	<resultMap type="FundDetailVO" id="fdvo">
		<!-- FundPostImageDto (fund_post + post + fund_main_image) -->
		<association property="fundPostImageDto">
			<result column="post_no" property="postNo"/>
			<result column="member_id" property="memberId"/>
			<result column="fund_title" property="fundTitle"/>
			<result column="post_start" property="postStart"/>
			<result column="post_end" property="postEnd"/>
			<result column="post_time" property="postTime"/>
			<result column="fund_goal" property="fundGoal"/>
			<result column="fund_state" property="fundState"/>
			<result column="post_type" property="postType"/>
			<result column="post_content" property="postContent"/>
			<result column="attachment_no" property="attachmentNo"/>
			<result column="sponsor_count" property="sponsorCount"/>
			<result column="price_total" property="priceTotal"/>
		</association>
		
		<!-- fund -->
		<collection property="fundDtos" javaType="java.util.List"
						ofType="FundDto" select="fundByPostNo" column="post_no">
		</collection>
		
		<!-- post_image -->
		<collection property="attachmentNos" javaType="java.util.List"
				ofType="PostImageDto" select="attachByPostNo" column="post_no"/>
		
		<!-- tag -->
		<collection property="tagNames" javaType="java.util.List"
				ofType="TagDto" select="tagByPostNo" column="post_no"/>
				
	</resultMap>
	
	<select id="fundPostByPostNo" resultMap="fdvo" parameterType="Long">
		select * from fundpostimage_detail
		where post_no=#{postNo}
	</select>
	
	<select id="tagByPostNo" resultType="TagDto" parameterType="Long">
		select * from tag
		where post_no=#{postNo}
	</select>
	
	<select id="fundByPostNo" resultType="FundDto" parameterType="Long">
		select * from fund
		where post_no=#{postNo}
		order by fund_price desc
	</select>
	
	<!-- Fund Ranking -->
	<select id="fundRanking" resultType="FundWithNickDto" parameterType="Long">
		select * from fund_ranking
		where post_no=#{postNo}
		order by fund_total desc
	</select>
	
	<select id="attachByPostNo" resultType="PostImageDto" parameterType="Long">
		select * from post_image
		where post_no=#{postNo}
	</select>
	
	<!-- SQL 구문 조각 생성 -->
	 <sql id="topNheader">
	 	select * from (
	 		select rownum rn, TMP.* from(
	 </sql>
	 <sql id="topNfooter">
	 	)TMP
	 	) where rn between #{begin} and #{end}
	 </sql>
	 
	 
	 <!-- 
		조건을 활용한 복합(올인원) 검색 구현
		- 문자열 : 유사 검색을 기본 원칙으로 하되 등급은 일치하는 항목을 검색
		- 숫자 : 유사 검색은 하지 않고 일치 검색 또는 구간 검색
		- 날짜 : 지정한 당일 검색 혹은 구간 검색
		
		사용할 수 있는 태그
		- <bind> : 구문 내에서 변수를 생성하는 역할
		- <where> : 조건절을 자동생성하는 역할
		- <if> : 구문 내에서 논리에 의한 조건부 구문을 작성하는 역할
		- <choose> : 구문 내에서 여러 가지 중 한 가지를 선택하는 역할
		- <foreach> : 제공되는 데이터 배열에 의해 반복 구문을 생성하는 역할
	-->
	
	
	 <!-- 태그&펀딩제목 검색해서 무한스크롤 페이징 목록 -->
	<select id="selectListWithTag" resultType="FundListWithTagDto">
		<bind name="orderListExist" value="orderList != null and !orderList.equals('')"/>
		<bind name="searchKeywordExist" value="searchKeyword != null and !searchKeyword.equals('')"/>
		<bind name="fundStateOn" value='fundState.equals("2")'/> <!-- 진행중 -->
		<bind name="fundStateOff" value='fundState.equals("1")'/> <!-- 종료 -->
		
		<include refid="topNheader"/>	 		
			select * from fundlist_with_tag
			
		  	<where>
		  		<!-- 검색어 유무 -->
		  		<if test="searchKeywordExist">
		  			( instr(fund_title, #{searchKeyword}) > 0
						or
					instr(tag_names, #{searchKeyword}) > 0 )
		  		</if>
		  		
		  		<!-- 펀딩상태 ( 종료, 진행중 ) -->
		  		<if test="fundStateOff ">
		  			and fund_state != '진행중'
		  		</if>
		  		<if test="fundStateOn">
		  			and fund_state = '진행중'
		  		</if>
		  		
		  	</where> 
		  	
		  	<!-- 정렬조건 유무 -->
		  	<if test="orderListExist">
		  		order by ${orderList}
		  	</if>
		  	
		<include refid="topNfooter"/> 
	</select>
	
	<!-- 검색어 있는 무한스크롤 페이징 목록 -->
	 <select id="infiniteWithKeyword" resultType="FundPostImageDto">
		<include refid="topNheader"/>	 		
			select * from fundpostimage_view
		  	where instr(fund_title, #{searchKeyword}) > 0
		  	order by post_time desc
		<include refid="topNfooter"/>
	 </select>
	 
	<!-- 무한스크롤 페이징 목록 -->
	 <select id="infinite" resultType="FundPostImageDto">
		<include refid="topNheader"/>
			select * from fundpostimage_view
		  	order by post_time desc
		<include refid="topNfooter"/>
	 </select>
	 
	 
	 
	<select id="list" resultType="FundPostImageDto">
		select * from fundpostimage_view
		order by post_time desc
	</select>

</mapper>