<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- mapper -->
<mapper namespace="fund">


   	<select id="sequence" resultType="Long">
        select fund_seq.nextval from dual
    </select>
    <!-- 통합게시물 생성 -->
    <insert id="add">
        insert into fund (
        fund_no, post_no, fund_price, fund_time, member_id
        ) 
        values (
        #{fundNo}, #{postNo}, #{fundPrice}, #{fundTime, jdbcType=DATE}, #{memberId}
        )
    </insert>
    
    <insert id="add2">
        insert into fund (
        fund_no, post_no, fund_price, fund_time, member_id
        ) 
        values (
        #{fundNo}, #{postNo}, #{fundPrice}, sysdate, #{memberId}
        )
    </insert>



	<!-- 결제내역 조회 기능(전체/회원별/...) -->
	<select id="selectAll" resultType="FundDto">
		select * from fund order by fund_no desc
	</select>
	
	<select id="selectByMember" resultType="FundDto">
		select * from fund 
		where member_id = #{memberId}
		order by fund_no desc
	</select>
	
	<select id="find" resultType="FundDto">
		select * from fund where fund_no = #{fundNo}
	</select>


</mapper>