<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더(반드시 첫 번째 줄에 위치) -->

<!-- dtd선언 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="map">
 	<insert id="insert">
 		insert into map(
 			post_no, map_place, map_name
 		)
 		values (
 			#{postNo}, #{mapPlace}, #{mapName}
 		)
 	</insert>
 	
 	<select id="select" resultType="MapDto">
 		select * from map where post_no = #{postNo}
 	</select>
 
 	<delete id="delete">
 		delete from map where post_no=#{postNo} 		
 	</delete>
 
 
 </mapper>
 
 