<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더(반드시 첫 번째 줄에 위치) -->

<!-- dtd선언 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="member">

	<select id="selectOne" resultType="MemberDto">
		select * from member where member_id = #{memberId}
	</select>
	
	
	
	<!-- 유저의 포인트 증가 -->
	<update id="chargePoint">
	  UPDATE member 
	  SET member_point = member_point + #{paymentTotal} 
	  WHERE member_id = #{memberId}
	</update>
			

	<!-- 포인트 차감 -->
	<update id="decreasePoint">
	  UPDATE member 
	  SET member_point = member_point - #{paymentTotal} 
	  WHERE member_id = #{memberId}
	</update>
	
	
	
	
	
	
</mapper>