<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더(반드시 첫 번째 줄에 위치) -->

<!-- dtd선언 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper -->
<mapper namespace="postLike">
    
    <!-- 게시물 좋아요 생성 -->
    <insert id="insert">
        insert into post_like (post_no, member_id) values (#{postNo}, #{memberId})
    </insert>
    
    <!-- 좋아요 삭제 -->
    <delete id="delete">
        delete from post_like 
        where post_no = #{postNo} and member_id = #{memberId}
    </delete>
    
    <!-- 게시물 좋아요 수 조회 -->
    <select id="count" resultType="Long">
        select count(*) from post_like where post_no = #{postNo}
    </select>
    
    <!-- 좋아요 했는 지 조회 -->
    <select id="check" resultType="Integer">
        select count(*) from post_like where member_id = #{memberId} and post_no = #{postNo}
    </select>
    
    
</mapper>