<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더(반드시 첫 번째 줄에 위치) -->

<!-- dtd선언 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper -->
<mapper namespace="postWithNick">
    <!-- 통합게시물+닉네임 상세조회 -->
    <select id="selectOne" resultType="PostWithNickDto">
        select * from post_with_nick where post_no = #{postNo}
    </select>
    <!-- 통합게시물+닉네임 목록조회 -->
    <select id="selectList" resultType="PostWithNickDto">
        <bind name="postTypeExist" value="postType != null and !postType.equals('')"/>
        select * from post_with_nick
        <!-- 조건절 -->
        <where>
            <!-- 게시물 종류 -->
            <if test="postTypeExist">
                and post_type = #{postType}
            </if>
        </where>
    </select>
</mapper>