<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더(반드시 첫 번째 줄에 위치) -->

<!-- dtd선언 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper -->
<mapper namespace="post">

	<select id = "sortTag" resultType="PostShowDto">

		 select
		    p.post_no, 
		    p.member_id, 
		    p.post_time, 
		    p.post_type, 
		    p.post_content,
		    f.fund_title,
		    t.tag_no, 
		    t.tag_name, 
		    t.tag_type,
		    m.map_name,
		    m.map_place
		from 
		    post p
		    left join fund_post f on p.post_no = f.post_no
		    left join map m on p.post_no = m.post_no
		    left join tag t on p.post_no = t.post_no
		WHERE t.tag_name = #{tagName}
		order by p.post_no desc

	</select>


    <!-- 통합게시물 시퀀스 생성 -->
    <select id="sequence" resultType="Long">
        select post_seq.nextval from dual
    </select>
    <!-- 통합게시물 생성 -->
    <insert id="insert">
        insert into post 
        (post_no, member_id, post_type, post_time, post_content) 
        values
        (#{postNo}, #{memberId}, #{postType}, systimestamp, #{postContent})
    </insert>
    <!-- 통합게시물 1개 조회 -->
    <select id="selectOne" resultType="PostDto">
        select * from post where post_no = #{postNo}
    </select>
    <!-- 통합게시물 모두 조회 -->
    <select id="selectList" resultType="PostDto">
        select * from post
    </select>
    <!-- 통합게시물 수정 -->
    <update id="update">
        update post set post_content = #{postContent} 
        where post_no = #{postNo}
    </update>
    <!-- 통합게시물 삭제 -->
    <delete id="delete">
        delete from post 
        where post_no = #{postNo}
    </delete>
</mapper>