<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더(반드시 첫 번째 줄에 위치) -->

<!-- dtd선언 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postShow">
	<select id="selectOne" resultType="PostShowVO">	
		select p.*, sp.schedule_start, sp.schedule_end,
		            tp.together_start, tp.together_end,
		            m.map_place, mb.member_nick , mpi.attachment_no
		from post p
		full outer join schedule_post sp on p.post_no = sp.post_no
		Left outer join together_post tp on p.post_no = tp.post_no
		Left outer join map m on p.post_no = m.post_no
		Left OUTER JOIN member mb ON p.member_id = mb.member_id
		Left OUTER JOIN member_profile_image mpi ON p.member_id = mpi.member_id
		where p.post_no = #{postNo}		
	</select>
	
	<select id="selectAll" resultType="PostShowVO">
		select p.*, sp.schedule_start, sp.schedule_end,
            tp.together_start, tp.together_end,
            m.map_place, mb.member_nick , mpi.attachment_no
			from post p 
			full outer join schedule_post sp on p.post_no = sp.post_no
			Left outer join together_post tp on p.post_no = tp.post_no
			Left outer join map m on p.post_no = m.post_no
			Left OUTER JOIN member mb ON p.member_id = mb.member_id
			Left OUTER JOIN member_profile_image mpi ON p.member_id = mpi.member_id
			WHERE p.post_type != '펀딩'
			ORDER BY p.post_no ASC;
	</select>

    <!-- 통합 게시물 무한 스크롤 구현 -->
    	<!-- SQL 구문 조각 생성 -->
	<sql id="topNheader">
		select * from (
			select rownum rn, TMP.* from (
	</sql>
	
	<sql id="topNfooter">
			)TMP
		) where rn between #{begin} and #{end}
	</sql>
	
	<!-- 무한스크롤 페이징 목록 -->
	<select id="infinite" resultType="PostShowVO">
		<include refid="topNheader"></include>
		select p.*, sp.schedule_start, sp.schedule_end,
            tp.together_start, tp.together_end,
            m.map_place, mb.member_nick , mpi.attachment_no
			from post p 
			full outer join schedule_post sp on p.post_no = sp.post_no
			Left outer join together_post tp on p.post_no = tp.post_no
			Left outer join map m on p.post_no = m.post_no
			Left OUTER JOIN member mb ON p.member_id = mb.member_id
			Left OUTER JOIN member_profile_image mpi ON p.member_id = mpi.member_id
			WHERE p.post_type != '펀딩'
			ORDER BY p.post_no desc
		<include refid="topNfooter"></include>
		
	</select>
    <!-- 무한스크롤 페이징 목록 -->

	<!-- 특정 유저가 좋아요한 게시글 무한스크롤 페이징 목록 -->
	<select id="likeInfinite" resultType="PostShowVO">
		<include refid="topNheader"></include>
    	SELECT testuserP.*,sp.schedule_start, sp.schedule_end,
                    tp.together_start, tp.together_end,
                    m.map_place, mb.member_nick , mpi.attachment_no
         FROM (
                SELECT p.*
                FROM post p
                full outer JOIN post_like pl ON p.post_no = pl.post_no
                WHERE pl.member_id = #{memberId} AND p.post_type != '펀딩'
         ) testuserP
        full outer join schedule_post sp on testuserP.post_no = sp.post_no
        Left outer join together_post tp on testuserP.post_no = tp.post_no
        Left outer join map m on testuserP.post_no = m.post_no
        Left OUTER JOIN member mb ON testuserP.member_id = mb.member_id
        Left OUTER JOIN member_profile_image mpi ON testuserP.member_id = mpi.member_id
        ORDER BY testuserP.post_no desc
        <include refid="topNfooter"></include>
	</select>
	
	<!-- 특정 유저가 작성한 게시글 무한스크롤 페이징 목록 -->
	<select id="writeInfinite" resultType="PostShowVO">
		<include refid="topNheader"></include>
	    SELECT testuserP.*,sp.schedule_start, sp.schedule_end,
                    tp.together_start, tp.together_end,
                    m.map_place, mb.member_nick , mpi.attachment_no
         FROM (
                select * 
                from post 
                where member_id = #{memberId} AND post_type != '펀딩'
         ) testuserP
        full outer join schedule_post sp on testuserP.post_no = sp.post_no
        Left outer join together_post tp on testuserP.post_no = tp.post_no
        Left outer join map m on testuserP.post_no = m.post_no
        Left OUTER JOIN member mb ON testuserP.member_id = mb.member_id
        Left OUTER JOIN member_profile_image mpi ON testuserP.member_id = mpi.member_id
        ORDER BY testuserP.post_no desc
        <include refid="topNfooter"></include>
	</select>
	
	<!-- 특정 유저가 작성한 게시글 무한스크롤 페이징 목록 -->
	<select id="fixedTagInfinite" resultType="PostShowVO">
		<include refid="topNheader"></include>
		SELECT testuserP.*,sp.schedule_start, sp.schedule_end,
                    tp.together_start, tp.together_end,
                    m.map_place, mb.member_nick , mpi.attachment_no
         FROM (
                SELECT p.*
                FROM post p
                full outer JOIN tag t ON p.post_no = t.post_no
                WHERE t.tag_name = #{tagName} AND p.post_type != '펀딩' AND t.tag_type='고정'
         ) testuserP
        full outer join schedule_post sp on testuserP.post_no = sp.post_no
        Left outer join together_post tp on testuserP.post_no = tp.post_no
        Left outer join map m on testuserP.post_no = m.post_no
        Left OUTER JOIN member mb ON testuserP.member_id = mb.member_id
        Left OUTER JOIN member_profile_image mpi ON testuserP.member_id = mpi.member_id
        ORDER BY testuserP.post_no desc 
        <include refid="topNfooter"></include>
	</select>
	
	
	
	<resultMap id="postShowResultMap" type="PostShowVO">
	
		<!-- postDto -->
		<result column="post_no" property="postNo"/>
		<result column="member_id" property="memberId"/>
		<result column="post_type" property="postType"/>
		<result column="post_time" property="postTime"/>
		<result column="post_content" property="postContent"/>		
		<!-- postDto -->
				
		<!-- 행사일정 시작, 종료 -->
		<result column="schedule_start" property="scheduleStart"/>
		<result column="schedule_end" property="scheduleEnd"/>
		<!-- 행사일정 시작, 종료 -->
		
		<!-- 같이가요 시작, 종료 -->
		<result column="together_start" property="togetherStart"/>
		<result column="together_end" property="togetherEnd"/>
		<!-- 같이가요 시작, 종료 -->
		
		<!-- 위치정보 -->
		<result column="map_place" property="mapPlace"/>
		<!-- 위치정보 -->
		
		<!-- 게시글 작성자 프로필 사진 번호 -->
		<result column="attachment_no" property="attachmentNo"/>
		<!-- 게시글 작성자 프로필 사진 번호 -->
		
		<!-- 좋아요 수 -->
		<result column="like_count" property="likeCount"/>
		<!-- 좋아요 수 -->
		
		<!-- 자유 태그 리스트 -->
		<collection column="tag_name" select="selectFreeTagAll" 
				property="freeTagList" javaType="java.util.List" ofType="String">
				<id property="postNo" column="post_no"/>
		</collection>	
		<!-- 자유 태그 리스트 -->
		
		<!-- 고정 태그 리스트 -->
		<collection column="tag_name" select="selectFixedTagAll" 
				property="fixedTagList" javaType="java.util.List" ofType="String">
				<id property="postNo" column="post_no"/>
		</collection>	
		<!-- 고정 태그 리스트 -->
		
		<!-- 첨부파일 리스트 -->
		<collection column="attachment_no" select="selectAttachNoList"
				property="attachmentList" javaType="java.util.List" ofType="String">
				<id property="postNo" column="post_no"/>
		</collection>
		<!-- 첨부파일 리스트 -->
		
		<!-- 댓글 리스트 -->
		<collection column="reply" select="selectReplylist" property="replyList"
					javaType="java.util.List" ofType="ReplyDto">
				<id property="postNo" column="post_no"/>
		</collection>
		
	</resultMap>
	
	<!-- resultMap에서 사용할 select구문들 -->
	
	<select id="getPostShow" resultMap="postShowResultMap">
			select p.*, sp.schedule_start, sp.schedule_end,
            tp.together_start, tp.together_end,
            m.map_place, mb.member_nick , mpi.attachment_no
			from post p 
			full outer join schedule_post sp on p.post_no = sp.post_no
			Left outer join together_post tp on p.post_no = tp.post_no
			Left outer join map m on p.post_no = m.post_no
			Left OUTER JOIN member mb ON p.member_id = mb.member_id
			Left OUTER JOIN member_profile_image mpi ON p.member_id = mpi.member_id
			WHERE p.post_type != '펀딩' and p.post_no =#{postNo}
			ORDER BY p.post_no ASC 
	</select>
	
	<!-- 고정 태그 목록 조회 -->
	<select id="selectFixedTagAll" resultType="String">
		select tag_name from tag where tag_type = '고정' where post_no = #{postNo}
	</select>
	
	<!-- 자유 태그 목록 조회 -->
	<select id="selectFreeTagAll" resultType="String">
		select tag_name from tag where tag_type = '자유' where post_no = #{postNo}
	</select>
	
	<!-- 첨부파일 리스트 조회 -->
	<select id="selectAttachNoList" resultType="String">
		select attachment_no from post_image  where post_no = #{postNo}
	</select>
	<!-- 첨부파일 리스트 조회 -->	
	
	<!-- 댓글 리스트 조회 -->
	<select id="selectReplylist" resultType="ReplyDto" parameterType="Long">
		select * from reply where post_no = #{postNo}
	</select>
	
	<select id="selectList" resultMap="postShowResultMap">
        select * from post 
    </select>
	<!-- resultMap에서 사용할 select구문들 -->
	
</mapper> 