@charset "UTF-8";
/*
    테스트 스타일
    - 원하는 태그에 test 를 추가하면 해당 영역 내부가 점선으로 표시
    - 설령 다른 테두리 설정이 있다고 해도 무시하고 처리하도록 구현
    - div뿐 아니라 모든 비어있는 영역 태그에 적용
    - div, main, header, footer, nav, aside, 
        article, p, label, span, ul, ol, li, a
*/
[test] div,
[test] main,
[test] header,
[test] footer,
[test] nav,
[test] aside,
[test] article,
[test] p,
[test] label,
[test] span,
[test] ul,
[test] ol,
[test] li,
[test] a
{
    /* !important가 추가되면 우선순위를 무시하고 적용됨 */
    border:1px dotted black !important;
}


