@charset "UTF-8";

/*
    보라 (진하기 순)
    - #6a53fb
    - #a294f9
    - #f0eeff
    - #f8f7fc

    회색 (진하기 순)
    - #404040 (hover 시)
    - #7f7f7f (기본)
    - #dee2e6 (disabled, border)
*/

/*
    글자 스타일
    - 보라색 글씨: font-purple1 ~ 2
    - 회색 글씨: font-gray1 ~ 3
    - 굵은 글씨: font-bold
    - 기본보다 작은 글씨: font-small1 ~ 3
*/
.font-purple1 {
    color: #6a53fb;
}
.font-purple2 {
    color: #a294f9;
}
.font-gray1 {
    color: #404040;
}
.font-gray2 {
    color: #7f7f7f;
}
.font-gray3 {
    color: #dee2e6;
}

.font-bold {
    font-weight: bold;
}

.font-small1 {
    font-size: 0.9em;
}
.font-small2 {
    font-size: 0.8em;
}
.font-small3 {
    font-size: 0.7em;
}

/*
    그림자 스타일
*/
.custom-shadow {
    box-shadow: 0px 3px 4px rgba(3, 21, 17, 0.05);
}

/*
    버튼 스타일
*/
.custom-btn {
    background-color: white;
    border: 1px solid white;
    padding: 0.7em 1.25em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-round {
    border-radius: 100px;
}

.btn-purple1 {
    border: 1px solid #6a53fb;
    background-color: #6a53fb;
    color: white;
}
.btn-purple1:hover {
    border: 1px solid #503ae2;
    background-color: #503ae2;
    color: white;
}

.btn-purple1-secondary {
    border: 1px solid #6a53fb;
    background-color: white;
    color: #6a53fb;
}
.btn-purple1-secondary:hover {
    border: 1px solid #6a53fb;
    background-color: #6a53fb;
    color: white;
}

.btn-purple2 {
    border: 1px solid #a294f9;
    background-color: #a294f9;
    color: white;
}
.btn-purple2:hover {
    border: 1px solid #6a53fb;
    background-color: #6a53fb;
}

.btn-purple2-secondary {
    border: 1px solid #a294f9;
    background-color: white;
    color: #a294f9;
}
.btn-purple2-secondary:hover {
    border: 1px solid #a294f9;
    background-color: #a294f9;
    color: white;
}

.btn-gray {
    border: 1px solid #eff3f7;
    background-color: #eff3f7;
    color: #404040;
}
.btn-gray:hover {
    border: 1px solid #dee2e6;
    background-color: #dee2e6;
    color: #404040;
}

.btn-purple1[disabled],
.btn-purple1[disabled]:hover,
.btn-purple2[disabled],
.btn-purple2[disabled]:hover {
    border: 1px solid #f0eeff;
    background-color: #f0eeff;
    color: white;
    cursor: unset;
}

.btn-purple1-secondary[disabled],
.btn-purple1-secondary[disabled]:hover,
.btn-purple2-secondary[disabled],
.btn-purple2-secondary[disabled]:hover {
    border: 1px solid #f0eeff;
    background-color: white;
    color: #f0eeff;
    cursor: unset;
}

.btn-gray[disabled],
.btn-gray[disabled]:hover {
    border: 1px solid #f6f9fc;
    background-color: #f6f9fc;
    color: #dad8d8;
    cursor: unset;
}

/*
    인풋 디자인
    인풋창은 input 태그와 상위 div로 이루어져있습니다.
    - 예시1 : 둥근 입력창
        <div class="custom-input-rounded-container">
            <input class="custom-input">
        </div>
    - 예시2: 각진 입력창
        <div class="custom-input-container">
            <input class="custom-input" placeholder="각진입력창">
        </div>

    * 글자 크기 키우고 싶으면 input 태그 인라인 스타일로 font-size: ?em; 주세요
*/
.custom-input-rounded-container {
    border: 0.3px solid #dee2e6;
    border-radius: 100px;
    padding: 0.7em 1.25em;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px 0px #e6e8e7 inset;
}
.custom-input-container {
    border: 0.3px solid #dee2e6;
    border-radius: 5px;
    padding: 0.7em 0.7em;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px 0px #e6e8e7 inset;
}
.custom-input {
    outline: none;
    border: none;
    background-color: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/*
    검색창(form-input-search)
    - 검색창은 부모 div(search-box), 자식 input(search-input)으로 만듭니다.
    - 예시
        <div class="row">
            <div class="search-box">
                <input class="search-input w-100">
            </div>
        </div>
*/
.search-box {
    border: 0.3px solid #b3b9b8;
    border-radius: 100px;
    display: flex;
    background-image: url("../image/search.png");
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: 13px center;
    box-shadow: 0px 0px 3px 0px #e6e8e7 inset;
}
.search-input {
    color: #22201e;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    border: none;
    outline: none;
    background: none;
    height: 18.4px;
    line-height: 18.4px;
}

/*
    고정태그 디자인
*/
.fixed-tag {
    font-size: 0.8em;
    background-color: #6a53fb;
    padding: 0.3em 1.3em;
    border-radius: 100px;
    width: fit-content;
    color: white;
}

/*
    프로필 이미지
    * 크기는 인라인 스타일로 필요한 만큼 조정하세요
*/
.profile-image {
    border-radius: 100px;
    border: 0.3px solid #cdd1d0;
    width: 50px;
}

/*
    모달 디자인
    - z-index 부족할 경우엔 인라인 스타일로 조정해주세요.
    - 넓이와 위치는 custom-modal div에 필요에 따라 조절하세요.
    - 헤더푸터는 필요에 따라 생략할 수 있습니다.
    - 바디에 스크롤 필요할 경우 진서영에게 문의 바람,,

    - 예시
        <div class="custom-modal">
            <div class="custom-modal-header">
                헤더
                <button type="button" class="btn-close"></button>
            </div>
            <div class="custom-modal-body">바디</div>
            <div class="custom-modal-footer">푸터</div>
        </div>
*/
.custom-modal {
    border: 0.3px solid #dee2e6;
    border-radius: 5px;
    background-color: white;
    z-index: 999;
    box-shadow: 0px 3px 4px rgba(3, 21, 17, 0.1);
}
.custom-modal-header {
    padding: 16px;
    border-bottom: 0.3px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom-modal-body {
    padding: 16px;
}
.custom-modal-footer {
    padding: 16px;
    border-top: 0.3px solid #dee2e6;
}
